
.btn-primary{
  width: 60%;
}

.modal.show .modal-dialog {
  transform:  none;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  height: 150px;
}
.ck-focused.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  height: 150px;
}
.ck.ck-editor{
  padding-top: 45px;
}
